name: CI

on:
  push:
  pull_request:

jobs:
  build-docker-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          load: true # For local testing; set to 'true' for pushing to registry
          tags: testrail-daily-report:latest # Replace with your actual image name and tag